---
import Layout from '../layouts/Layout.astro';
import DevIntro from '../components/DevIntro.jsx';
import BottomPanel from '../components/BottomPanel.jsx';
import SocialLinks from '../components/SocialLinks.jsx'; 
---

<Layout>
  <head slot="head">
    <title>Dev | Aurumz</title>
  </head>

  <DevIntro client:load />

  <section id="third-section" class="section third-section">
    <h2>Dev Projects</h2>
  </section>

  <SocialLinks client:load />

  <BottomPanel client:load />
</Layout>
