---
import Layout from '../layouts/Layout.astro';
import MultiSectionPage from '../components/MultiSectionPage.jsx';
---

<Layout>
  <head slot="head">
    <title>Home | Aurumz</title>
  </head>

  <MultiSectionPage client:load />
</Layout>
