---
import Layout from '../layouts/Layout.astro';
import StaticIntro from '../components/StaticIntro.jsx';
import BottomPanel from '../components/BottomPanel.jsx';
import SocialLinks from '../components/SocialLinks.jsx';
---

<Layout>
  <head slot="head">
    <title>Support | Aurumz</title>
  </head>

  <StaticIntro client:load />


  <SocialLinks client:load />

  <BottomPanel client:load />
</Layout>
