---
import Layout from '../layouts/Layout.astro';
import StaticIntro from '../components/StaticIntro.jsx';
---

<Layout>
  <head slot="head">
    <title>Support | Aurumz</title>
  </head>

  <StaticIntro client:load />
</Layout>
