---
import Layout from '../layouts/Layout.astro';
import TypingIntro from '../components/TypingIntro.jsx';

---

<Layout>
  <head slot="head">
    <title>Home | Aurumz</title>
    <!-- Add Lottie player script here if not added globally -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" defer></script>
  </head>

  <div id="root">
    <TypingIntro client:load />

    
  </div>
</Layout>

