---
import "../styles/global.css";
const currentPath = Astro.url.pathname;
---

<html lang="en" class="lock-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Web | Aurumz</title>
    <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap"
/>


    <slot name="head" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" />

   <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <style>
      html {
        scroll-behavior: smooth;
      }

      .lock-scroll {
        overflow: hidden;
      }

      body {
        background: #0e0e0e;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <slot />
    <!-- Load the progress script globally -->
    <script type="module" src="/src/scripts/progress.js"></script>
  </body>
</html>
